.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 375.5000000000001px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 62px;
	padding-bottom: 62.499999999999886px;
	margin-left: auto;
	margin-right: auto;
}

#u69
{
	z-index: 9;
	width: 61px;
	top: 13px;
	left: 50%;
	margin-left: -500px;
}

#u79
{
	z-index: 8;
	width: 1000px;
	height: 62px;
	top: 12px;
	left: 50%;
	margin-left: -500px;
}

#u76-6
{
	z-index: 11;
	width: 174px;
	min-height: 39px;
	top: 24px;
	left: 50%;
	margin-left: -439px;
}

#u78-4
{
	z-index: 17;
	width: 174px;
	min-height: 20px;
	top: 24px;
	left: 50%;
	margin-left: 291px;
}

#menuu80
{
	z-index: 21;
	width: 235px;
	top: 49px;
	left: 50%;
	margin-left: 265px;
}

#u98
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
}

#u101
{
	width: 57px;
	padding-bottom: 3px;
}

#u101:hover
{
	margin: 0px;
}

#u101:active
{
	margin: 0px;
}

#u1068
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 59px;
}

#u1071
{
	width: 57px;
	padding-bottom: 3px;
}

#u101.MuseMenuActive,#u1071:hover
{
	margin: 0px;
}

#u1071:active
{
	margin: 0px;
}

#u104-4,#u1073-4
{
	width: 57px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u142
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 118px;
}

#u145
{
	width: 57px;
	padding-bottom: 3px;
}

#u1071.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u146-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u148
{
	z-index: 40;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 3px;
	left: 43px;
}

#u145:hover #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u148
{
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 120px;
	top: 20px;
}

#u156
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156.MuseMenuActive,#u187:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1019
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u187.MuseMenuActive,#u1019:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1682
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1019.MuseMenuActive,#u1682:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1982
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1682.MuseMenuActive,#u1982:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1995
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1982.MuseMenuActive,#u1995:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2012
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1995.MuseMenuActive,#u2012:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2025
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2012.MuseMenuActive,#u2025:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2042
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2025.MuseMenuActive,#u2042:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2057
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2042.MuseMenuActive,#u2057:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u144,#u155,#u186,#u1018,#u1681,#u1979,#u1994,#u2009,#u2024,#u2039,#u2054,#u3336
{
	width: 120px;
}

#u3337
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2057.MuseMenuActive,#u3337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3337.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u158-4,#u189-4,#u1022-4,#u1683-4,#u1985-4,#u1997-4,#u2015-4,#u2028-4,#u2045-4,#u2059-4,#u3340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u129
{
	width: 58px;
	min-height: 20px;
	margin-right: -10000px;
	left: 177px;
}

#u132
{
	width: 58px;
	padding-bottom: 3px;
}

#u145.MuseMenuActive,#u132:hover
{
	margin: 0px;
}

#u132:active
{
	margin: 0px;
}

#u132.MuseMenuActive
{
	margin: 0px;
}

#u133-4
{
	width: 58px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#pu523
{
	width: 0.01px;
	position: relative;
}

#u523
{
	z-index: 2;
	width: 1000px;
	position: relative;
	margin-right: -10000px;
}

#u523_clip
{
	overflow: hidden;
	width: 1000px;
	height: 562px;
}

#u523_img
{
	margin-right: -3px;
	margin-bottom: -2px;
}

#u528-4
{
	z-index: 4;
	width: 490px;
	min-height: 34px;
	background-color: #979797;
	background-color: rgba(127, 127, 127, 0.81);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 25px;
	-pie-background: rgba(127, 127, 127, 0.81);
}

body
{
	padding-top: 10px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

