#u79
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
	-pie-background: rgba(255, 255, 255, 0.7);
}

#u76-6
{
	text-align: left;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u78-4
{
	text-align: center;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u69,#menuu80
{
	position: fixed;
}

#u101
{
	background-color: #C4C4C4;
	position: relative;
}

#u101:hover
{
	background-color: #999999;
}

#u101:active
{
	background-color: #6B6B6B;
}

#u1071
{
	background-color: #C4C4C4;
	position: relative;
}

#u101.MuseMenuActive,#u1071:hover
{
	background-color: #999999;
}

#u1071:active
{
	background-color: #6B6B6B;
}

#u145
{
	background-color: #C4C4C4;
	position: relative;
}

#u1071.MuseMenuActive,#u145:hover
{
	background-color: #999999;
}

#u145:active
{
	background-color: #6B6B6B;
}

#u148
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u145:hover #u148
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u145:active #u148
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u145.MuseMenuActive #u148
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u156
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u156:hover
{
	background-color: #AAAAAA;
}

#u187
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u187:hover
{
	background-color: #AAAAAA;
}

#u1019
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u1019:hover
{
	background-color: #AAAAAA;
}

#u1682
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u1682:hover
{
	background-color: #AAAAAA;
}

#u1982
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u1982:hover
{
	background-color: #AAAAAA;
}

#u1995
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u1995:hover
{
	background-color: #AAAAAA;
}

#u2012
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2012:hover
{
	background-color: #AAAAAA;
}

#u2025
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2025:hover
{
	background-color: #AAAAAA;
}

#u2042
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2042:hover
{
	background-color: #AAAAAA;
}

#u2057
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u2057:hover
{
	background-color: #AAAAAA;
}

#u3337
{
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	position: relative;
}

#u3337:hover
{
	background-color: #AAAAAA;
}

#u156.MuseMenuActive,#u187.MuseMenuActive,#u1019.MuseMenuActive,#u1682.MuseMenuActive,#u1982.MuseMenuActive,#u1995.MuseMenuActive,#u2012.MuseMenuActive,#u2025.MuseMenuActive,#u2042.MuseMenuActive,#u2057.MuseMenuActive,#u3337.MuseMenuActive
{
	background-color: #666666;
}

#u158-4,#u189-4,#u1022-4,#u1683-4,#u1985-4,#u1997-4,#u2015-4,#u2028-4,#u2045-4,#u2059-4,#u3340-4
{
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
}

#u98,#u1068,#u142,#u144,#u155,#u186,#u1018,#u1681,#u1979,#u1994,#u2009,#u2024,#u2039,#u2054,#u3336,#u129
{
	position: relative;
}

#u132
{
	background-color: #C4C4C4;
	position: relative;
}

#u145.MuseMenuActive,#u132:hover
{
	background-color: #999999;
}

#u132:active
{
	background-color: #6B6B6B;
}

#u132.MuseMenuActive
{
	background-color: #999999;
}

#u104-4,#u1073-4,#u146-4,#u133-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

