.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u79
{
	z-index: 403;
	width: 1000px;
	height: 62px;
	top: 12px;
	left: 50%;
	margin-left: -500px;
}

#u69
{
	z-index: 404;
	width: 61px;
	top: 13px;
	left: 50%;
	margin-left: -500px;
}

#pamphletu654
{
	z-index: 2;
	width: 0.01px;
	height: 527px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#u668
{
	z-index: 3;
	width: 950px;
	position: relative;
	margin-right: -10000px;
	margin-top: 506px;
	left: 10px;
}

#u671
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: -10px;
}

#u671:hover
{
	border-color: #999999;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u725-4
{
	z-index: 5;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u671:hover #u725-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u671:active #u725-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u671:hover #u725-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u671:active #u725-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u670
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 60px;
}

#u670:hover
{
	border-color: #999999;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u671.PamphletThumbSelected,#u670.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #F15A24;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u726-4
{
	z-index: 10;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u671.PamphletThumbSelected #u725-4,#u670:hover #u726-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u670:active #u726-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u670:hover #u726-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u671.PamphletThumbSelected #u725-4 p,#u670:active #u726-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u669
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 130px;
}

#u669:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u727-4
{
	z-index: 15;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u670.PamphletThumbSelected #u726-4,#u669:hover #u727-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u669:active #u727-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u669:hover #u727-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u670.PamphletThumbSelected #u726-4 p,#u669:active #u727-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u709
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 200px;
}

#u709:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u728-4
{
	z-index: 20;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u669.PamphletThumbSelected #u727-4,#u709:hover #u728-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u709:active #u728-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u709:hover #u728-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u669.PamphletThumbSelected #u727-4 p,#u709:active #u728-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u729
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 270px;
}

#u729:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u740-4
{
	z-index: 25;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u709.PamphletThumbSelected #u728-4,#u729:hover #u740-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u729:active #u740-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u729:hover #u740-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u709.PamphletThumbSelected #u728-4 p,#u729:active #u740-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u741
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 340px;
}

#u741:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u746-4
{
	z-index: 30;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u729.PamphletThumbSelected #u740-4,#u741:hover #u746-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u741:active #u746-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u741:hover #u746-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u729.PamphletThumbSelected #u740-4 p,#u741:active #u746-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u749
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 410px;
}

#u749:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u787-4
{
	z-index: 35;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u741.PamphletThumbSelected #u746-4,#u749:hover #u787-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u749:active #u787-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u749:hover #u787-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u741.PamphletThumbSelected #u746-4 p,#u749:active #u787-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u788
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 480px;
}

#u788:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u808-4
{
	z-index: 40;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u749.PamphletThumbSelected #u787-4,#u788:hover #u808-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u788:active #u808-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u788:hover #u808-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u749.PamphletThumbSelected #u787-4 p,#u788:active #u808-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u814
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 550px;
}

#u814:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u828-4
{
	z-index: 45;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u788.PamphletThumbSelected #u808-4,#u814:hover #u828-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u814:active #u828-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u814:hover #u828-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u788.PamphletThumbSelected #u808-4 p,#u814:active #u828-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u829
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 620px;
}

#u829:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u838-4
{
	z-index: 50;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u814.PamphletThumbSelected #u828-4,#u829:hover #u838-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u829:active #u838-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u829:hover #u838-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u814.PamphletThumbSelected #u828-4 p,#u829:active #u838-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u858
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 690px;
}

#u858:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u878-4
{
	z-index: 55;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u829.PamphletThumbSelected #u838-4,#u858:hover #u878-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u858:active #u878-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u858:hover #u878-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u829.PamphletThumbSelected #u838-4 p,#u858:active #u878-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u902
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 760px;
}

#u902:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u909-4
{
	z-index: 60;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u858.PamphletThumbSelected #u878-4,#u902:hover #u909-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u902:active #u909-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u902:hover #u909-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u858.PamphletThumbSelected #u878-4 p,#u902:active #u909-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u951
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	padding-bottom: 12px;
	top: -13px;
	left: 830px;
}

#u951:hover
{
	border-color: #6B6B6B;
	background-color: transparent;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u669.PamphletThumbSelected,#u709.PamphletThumbSelected,#u729.PamphletThumbSelected,#u741.PamphletThumbSelected,#u749.PamphletThumbSelected,#u788.PamphletThumbSelected,#u814.PamphletThumbSelected,#u829.PamphletThumbSelected,#u858.PamphletThumbSelected,#u902.PamphletThumbSelected,#u951.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #F15A24;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1004-4
{
	z-index: 65;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u902.PamphletThumbSelected #u909-4,#u951:hover #u1004-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u951:active #u1004-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u951:hover #u1004-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u902.PamphletThumbSelected #u909-4 p,#u951:active #u1004-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1025
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 900px;
}

#u1025:hover
{
	border-color: #6B6B6B;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1025.PamphletThumbSelected
{
	border-color: #6B6B6B;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u1046-4
{
	z-index: 70;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u951.PamphletThumbSelected #u1004-4,#u1025:hover #u1046-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1025:active #u1046-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1025.PamphletThumbSelected #u1046-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u1025:hover #u1046-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u951.PamphletThumbSelected #u1004-4 p,#u1025:active #u1046-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1025.PamphletThumbSelected #u1046-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u655
{
	position: absolute;
	width: 1002px;
}

#u655popup
{
	z-index: 74;
}

#u656
{
	z-index: 75;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#u679-6
{
	z-index: 76;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: -1px;
}

#u680
{
	z-index: 82;
	width: 589px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 410px;
}

#u680_clip
{
	overflow: hidden;
	width: 589px;
	height: 495px;
}

#u680_img
{
	margin-right: -11px;
	margin-bottom: -9px;
}

#u658
{
	z-index: 84;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#u658_position_content
{
	margin-top: 17px;
	margin-bottom: 13px;
}

#pu696
{
	width: 0.01px;
	margin-left: 12px;
	position: relative;
}

#u696
{
	z-index: 91;
	width: 618px;
	position: relative;
	margin-right: -10000px;
}

#u702
{
	z-index: 97;
	width: 358px;
	position: relative;
	margin-right: -10000px;
	left: 625px;
}

#u690-6
{
	z-index: 85;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	left: -1px;
	margin-top: 29px;
	position: relative;
}

#u701-4
{
	z-index: 93;
	width: 357px;
	text-align: center;
	margin-left: 630px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u657
{
	z-index: 99;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#u707-6
{
	z-index: 100;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: -1px;
}

#u708-4
{
	z-index: 106;
	width: 530px;
	min-height: 60px;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 234px;
}

#u710
{
	z-index: 110;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#pu720
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#u720
{
	z-index: 130;
	width: 208px;
	margin-left: 19px;
	position: relative;
}

#u713-6
{
	z-index: 111;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 111px;
	position: relative;
}

#u714-13
{
	z-index: 117;
	width: 671px;
	min-height: 60px;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 254px;
}

#u731
{
	z-index: 132;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#u738-6
{
	z-index: 133;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: -1px;
}

#u739-14
{
	z-index: 139;
	width: 530px;
	min-height: 60px;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 234px;
}

#u743
{
	z-index: 153;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#u747-6
{
	z-index: 154;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: -1px;
}

#u748-19
{
	z-index: 160;
	width: 760px;
	min-height: 60px;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 234px;
}

#u751
{
	z-index: 179;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#ppu763
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: -1px;
}

#pu763
{
	width: 0.01px;
	margin-left: 6px;
	position: relative;
}

#u763
{
	z-index: 186;
	width: 484px;
	position: relative;
	margin-right: -10000px;
}

#u773-4
{
	z-index: 190;
	width: 109px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 14px;
}

#u774-4
{
	z-index: 194;
	width: 109px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 195px;
}

#u757-6
{
	z-index: 180;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 25px;
	position: relative;
}

#ppu768
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 509px;
}

#u768
{
	z-index: 188;
	width: 477px;
	position: relative;
	margin-right: -10000px;
}

#u775-4
{
	z-index: 198;
	width: 187px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 281px;
}

#u776
{
	z-index: 202;
	width: 263px;
	position: relative;
	margin-right: -10000px;
}

#u781
{
	z-index: 204;
	width: 215px;
	position: relative;
	margin-right: -10000px;
	left: 263px;
}

#u786-4
{
	z-index: 206;
	width: 187px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 281px;
}

#u790
{
	z-index: 210;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#pu812-12
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#u812-12
{
	z-index: 217;
	width: 227px;
	min-height: 179px;
	background-color: #C1272D;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 8px;
	position: relative;
}

#u812-2
{
	text-align: center;
}

#u812-4,#u812-6,#u812-8,#u812-10
{
	text-align: left;
}

#u809-6
{
	z-index: 211;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 200px;
	position: relative;
}

#u813-13
{
	z-index: 229;
	width: 729px;
	min-height: 60px;
	font-size: 24px;
	line-height: 34px;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 254px;
}

#u816
{
	z-index: 242;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#pu821-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: -1px;
}

#u821-4
{
	z-index: 249;
	width: 227px;
	min-height: 29px;
	background-color: #C1272D;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	position: relative;
}

#u827-17
{
	z-index: 255;
	width: 197px;
	color: #FFFFFF;
	margin-left: 24px;
	margin-top: 6px;
	position: relative;
}

#u842
{
	z-index: 272;
	width: 208px;
	margin-left: 27px;
	margin-top: 7px;
	position: relative;
}

#u820-6
{
	z-index: 243;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u822
{
	z-index: 253;
	width: 766px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 234px;
}

#u831
{
	z-index: 274;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#pu840-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: -1px;
}

#u840-4
{
	z-index: 281;
	width: 227px;
	min-height: 29px;
	background-color: #C1272D;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	position: relative;
}

#u841-15
{
	z-index: 285;
	width: 197px;
	color: #FFFFFF;
	margin-left: 28px;
	margin-top: 6px;
	position: relative;
}

#u852
{
	z-index: 302;
	width: 207px;
	margin-left: 28px;
	margin-top: 6px;
	position: relative;
}

#u839-6
{
	z-index: 275;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u847
{
	z-index: 300;
	width: 765px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 234px;
}

#u847_clip
{
	overflow: hidden;
	width: 765px;
	height: 450px;
}

#u847_img
{
	margin-top: -48px;
	margin-right: -12px;
}

#u860
{
	z-index: 304;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#u870-6
{
	z-index: 305;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 397px;
	left: -1px;
}

#u873
{
	z-index: 311;
	width: 620px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 305px;
}

#u904
{
	z-index: 313;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#ppu911
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u911
{
	z-index: 320;
	width: 306px;
	position: relative;
	margin-right: -10000px;
}

#u917-4
{
	z-index: 322;
	width: 109px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u919
{
	z-index: 326;
	width: 304px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 310px;
}

#u925-8
{
	z-index: 328;
	width: 378px;
	min-height: 57px;
	background-color: #CC5428;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 235px;
}

#u926
{
	z-index: 336;
	width: 234px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 1px;
}

#u931-4
{
	z-index: 338;
	width: 109px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
}

#u932
{
	z-index: 342;
	width: 281px;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
	left: 235px;
}

#u910-6
{
	z-index: 314;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u937-10
{
	z-index: 344;
	width: 378px;
	min-height: 57px;
	background-color: #CC5428;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#ppu944
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 612px;
}

#u944
{
	z-index: 354;
	width: 385px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u949-4
{
	z-index: 356;
	width: 109px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
}

#u950-4
{
	z-index: 360;
	width: 387px;
	min-height: 146px;
	background-color: #CC5428;
	color: #FFFFFF;
	position: relative;
}

#u953
{
	z-index: 364;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #F15A24;
	margin-right: -10000px;
	position: relative;
}

#ppu977
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: -1px;
}

#pu977
{
	width: 0.01px;
	margin-left: 31px;
	position: relative;
}

#u977
{
	z-index: 365;
	width: 200px;
	position: relative;
	margin-right: -10000px;
}

#u982
{
	z-index: 367;
	width: 325px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u987-4
{
	z-index: 369;
	width: 109px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u976-6
{
	z-index: 383;
	width: 235px;
	min-height: 60px;
	background-color: #952E09;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
}

#u994
{
	z-index: 379;
	width: 307px;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#ppu988
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 555px;
}

#pu768,#pu776,#pu911,#pu910-6,#pu944,#pu976-6,#pu988
{
	width: 0.01px;
	position: relative;
}

#u988
{
	z-index: 373;
	width: 267px;
	position: relative;
	margin-right: -10000px;
}

#u993-4
{
	z-index: 375;
	width: 109px;
	min-height: 38px;
	background-color: #C1272D;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u999
{
	z-index: 381;
	width: 415px;
	position: relative;
}

#u1027
{
	z-index: 389;
	width: 1000px;
	height: 494px;
	border-width: 1px;
	border-style: solid;
	border-color: #6B6B6B;
	background-color: #29ABE2;
	margin-right: -10000px;
	position: relative;
}

#u1047
{
	z-index: 390;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

#pu1056
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 658px;
}

#u1056
{
	z-index: 391;
	width: 320px;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1058
{
	z-index: 392;
	width: 320px;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u672
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 229px;
}

#u673-4
{
	z-index: 394;
	width: 20px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #888888;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u666
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 229px;
	left: 970px;
}

#u672:hover,#u666:hover
{
	border-color: #999999;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u667-4
{
	z-index: 399;
	width: 20px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #888888;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u76-6
{
	z-index: 406;
	width: 174px;
	min-height: 39px;
	top: 24px;
	left: 50%;
	margin-left: -439px;
}

#menuu80
{
	z-index: 416;
	width: 235px;
	top: 49px;
	left: 50%;
	margin-left: 265px;
}

#u98
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
}

#u101
{
	width: 57px;
	padding-bottom: 3px;
}

#u101:hover
{
	margin: 0px;
}

#u101:active
{
	margin: 0px;
}

#u1068
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 59px;
}

#u1071
{
	width: 57px;
	padding-bottom: 3px;
}

#u101.MuseMenuActive,#u1071:hover
{
	margin: 0px;
}

#u1071:active
{
	margin: 0px;
}

#u104-4,#u1073-4
{
	width: 57px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u142
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 118px;
}

#u145
{
	width: 57px;
	padding-bottom: 3px;
}

#u1071.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u146-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u148
{
	z-index: 435;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 3px;
	left: 43px;
}

#u145:hover #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u148
{
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 120px;
	top: 20px;
}

#u156
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156.MuseMenuActive,#u187:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1019
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u187.MuseMenuActive,#u1019:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1682
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1019.MuseMenuActive,#u1682:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1982
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1682.MuseMenuActive,#u1982:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1995
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1982.MuseMenuActive,#u1995:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2012
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1995.MuseMenuActive,#u2012:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2025
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2012.MuseMenuActive,#u2025:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2042
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2025.MuseMenuActive,#u2042:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2057
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2042.MuseMenuActive,#u2057:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u144,#u155,#u186,#u1018,#u1681,#u1979,#u1994,#u2009,#u2024,#u2039,#u2054,#u3336
{
	width: 120px;
}

#u3337
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2057.MuseMenuActive,#u3337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3337.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u158-4,#u189-4,#u1022-4,#u1683-4,#u1985-4,#u1997-4,#u2015-4,#u2028-4,#u2045-4,#u2059-4,#u3340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u129
{
	width: 58px;
	min-height: 20px;
	margin-right: -10000px;
	left: 177px;
}

#u132
{
	width: 58px;
	padding-bottom: 3px;
}

#u145.MuseMenuActive,#u132:hover
{
	margin: 0px;
}

#u132:active
{
	margin: 0px;
}

#u132.MuseMenuActive
{
	margin: 0px;
}

#u133-4
{
	width: 58px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u78-4
{
	z-index: 412;
	width: 174px;
	min-height: 20px;
	top: 24px;
	left: 50%;
	margin-left: 291px;
}

body
{
	padding-top: 10px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

