.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u79
{
	z-index: 2;
	width: 1000px;
	height: 62px;
	top: 12px;
	left: 50%;
	margin-left: -500px;
}

#u69
{
	z-index: 3;
	width: 61px;
	top: 13px;
	left: 50%;
	margin-left: -500px;
}

#pamphletu2415
{
	z-index: 109;
	width: 0.01px;
	height: 532px;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
}

#u2420
{
	z-index: 110;
	width: 530px;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 10px;
}

#u2423
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #8CC63F;
	padding-bottom: 12px;
	top: -13px;
	left: -10px;
}

#u2423:hover
{
	border-color: #999999;
	background-color: #8CC63F;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2423:active
{
	border-color: #999999;
	background-color: #59851E;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2564-4
{
	z-index: 112;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2423:hover #u2564-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2423:active #u2564-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2423:hover #u2564-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2423:active #u2564-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2459
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #8CC63F;
	padding-bottom: 12px;
	top: -13px;
	left: 60px;
}

#u2459:hover
{
	border-color: #999999;
	background-color: #8CC63F;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2423.PamphletThumbSelected,#u2459:active
{
	border-color: #999999;
	background-color: #59851E;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2565-4
{
	z-index: 117;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2423.PamphletThumbSelected #u2564-4,#u2459:hover #u2565-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2459:active #u2565-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2459:hover #u2565-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2423.PamphletThumbSelected #u2564-4 p,#u2459:active #u2565-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2479
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #8CC63F;
	padding-bottom: 12px;
	top: -13px;
	left: 130px;
}

#u2479:hover
{
	border-color: #999999;
	background-color: #8CC63F;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2459.PamphletThumbSelected,#u2479:active
{
	border-color: #999999;
	background-color: #59851E;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2566-4
{
	z-index: 122;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2459.PamphletThumbSelected #u2565-4,#u2479:hover #u2566-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2479:active #u2566-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2479:hover #u2566-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2459.PamphletThumbSelected #u2565-4 p,#u2479:active #u2566-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2503
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #8CC63F;
	padding-bottom: 12px;
	top: -13px;
	left: 200px;
}

#u2503:hover
{
	border-color: #999999;
	background-color: #8CC63F;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2479.PamphletThumbSelected,#u2503:active
{
	border-color: #999999;
	background-color: #59851E;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2567-4
{
	z-index: 127;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2479.PamphletThumbSelected #u2566-4,#u2503:hover #u2567-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2503:active #u2567-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2503:hover #u2567-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2479.PamphletThumbSelected #u2566-4 p,#u2503:active #u2567-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2520
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #8CC63F;
	padding-bottom: 12px;
	top: -13px;
	left: 270px;
}

#u2520:hover
{
	border-color: #999999;
	background-color: #8CC63F;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2503.PamphletThumbSelected,#u2520:active
{
	border-color: #999999;
	background-color: #59851E;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2568-4
{
	z-index: 132;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2503.PamphletThumbSelected #u2567-4,#u2520:hover #u2568-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2520:active #u2568-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2520:hover #u2568-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2503.PamphletThumbSelected #u2567-4 p,#u2520:active #u2568-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2538
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #8CC63F;
	padding-bottom: 12px;
	top: -13px;
	left: 340px;
}

#u2538:hover
{
	border-color: #999999;
	background-color: #8CC63F;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2520.PamphletThumbSelected,#u2538:active
{
	border-color: #999999;
	background-color: #59851E;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2538.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #59851E;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2569-4
{
	z-index: 137;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2520.PamphletThumbSelected #u2568-4,#u2538:hover #u2569-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2538:active #u2569-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2538:hover #u2569-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2520.PamphletThumbSelected #u2568-4 p,#u2538:active #u2569-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2553
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #C1272D;
	padding-bottom: 12px;
	top: -13px;
	left: 410px;
}

#u2553:hover
{
	border-color: #999999;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2553.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #C1272D;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2570-4
{
	z-index: 142;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2538.PamphletThumbSelected #u2569-4,#u2553:hover #u2570-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2553:active #u2570-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2553:hover #u2570-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2538.PamphletThumbSelected #u2569-4 p,#u2553:active #u2570-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2574
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 480px;
}

#u2574:hover
{
	border-color: #999999;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2574.PamphletThumbSelected
{
	border-color: #999999;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2580-4
{
	z-index: 147;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2553.PamphletThumbSelected #u2570-4,#u2574:hover #u2580-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2574:active #u2580-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2574.PamphletThumbSelected #u2580-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2574:hover #u2580-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2553.PamphletThumbSelected #u2570-4 p,#u2574:active #u2580-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2574.PamphletThumbSelected #u2580-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2424
{
	position: absolute;
	width: 1001px;
}

#u2424popup
{
	z-index: 151;
}

#u2427
{
	z-index: 152;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #8CC63F;
	margin-right: -10000px;
	position: relative;
}

#u2440-4
{
	z-index: 153;
	width: 235px;
	min-height: 60px;
	background-color: #42410B;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: -1px;
}

#u2447
{
	z-index: 157;
	width: 666px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 333px;
}

#u2441-10
{
	z-index: 159;
	width: 235px;
	min-height: 117px;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 116px;
}

#u2460
{
	z-index: 169;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #8CC63F;
	margin-right: -10000px;
	position: relative;
}

#u2467
{
	z-index: 170;
	width: 843px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 156px;
}

#u2467_clip
{
	overflow: hidden;
	width: 843px;
	height: 507px;
}

#u2467_img
{
	margin-right: -93px;
}

#u2473
{
	z-index: 172;
	width: 808px;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: -1px;
}

#u2466-6
{
	z-index: 174;
	width: 235px;
	min-height: 60px;
	background-color: #42410B;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: -1px;
}

#u2480
{
	z-index: 180;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #8CC63F;
	margin-right: -10000px;
	position: relative;
}

#u2489-6
{
	z-index: 181;
	width: 235px;
	min-height: 60px;
	background-color: #42410B;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: -1px;
}

#ppu2490
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 254px;
}

#pu2490
{
	width: 0.01px;
	position: relative;
}

#u2490
{
	z-index: 187;
	width: 540px;
	position: relative;
	margin-right: -10000px;
}

#u2496-4
{
	z-index: 189;
	width: 84px;
	min-height: 22px;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 304px;
}

#u2497
{
	z-index: 193;
	width: 254px;
	margin-left: 286px;
	margin-top: 10px;
	position: relative;
}

#u2502-4
{
	z-index: 195;
	width: 84px;
	min-height: 22px;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 798px;
}

#u2504
{
	z-index: 199;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #8CC63F;
	margin-right: -10000px;
	position: relative;
}

#u2514-6
{
	z-index: 200;
	width: 235px;
	min-height: 60px;
	background-color: #42410B;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: -1px;
}

#u2515
{
	z-index: 206;
	width: 726px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 234px;
}

#u2521
{
	z-index: 208;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #8CC63F;
	margin-right: -10000px;
	position: relative;
}

#u2532
{
	z-index: 209;
	width: 999px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#u2526-6
{
	z-index: 211;
	width: 235px;
	min-height: 60px;
	background-color: #42410B;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: -1px;
}

#u2527
{
	z-index: 217;
	width: 376px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 603px;
}

#u2539
{
	z-index: 219;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #8CC63F;
	margin-right: -10000px;
	position: relative;
}

#u2547-6
{
	z-index: 220;
	width: 235px;
	min-height: 60px;
	background-color: #42410B;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: -1px;
}

#u2548
{
	z-index: 226;
	width: 727px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 272px;
}

#u2559
{
	z-index: 228;
	width: 364px;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 30px;
}

#u2554
{
	z-index: 230;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #C1272D;
	margin-right: -10000px;
	position: relative;
}

#pu2582
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 38px;
}

#u2582
{
	z-index: 254;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2572
{
	z-index: 253;
	width: 320px;
	min-height: 244px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 57px;
	position: relative;
}

#u2571-22
{
	z-index: 231;
	width: 516px;
	min-height: 178px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.35);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	text-align: center;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 421px;
	-pie-background: rgba(255, 255, 255, 0.35);
}

#u2571-2
{
	font-size: 24px;
	line-height: 34px;
}

#u2571-3,#u2571-5,#u2571-7,#u2571-9,#u2571-11,#u2571-13,#u2571-15,#u2571-17,#u2571-18,#u2571-20
{
	font-size: 18px;
	line-height: 25px;
}

#u2576
{
	z-index: 255;
	width: 999px;
	height: 506px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #29ABE2;
	margin-right: -10000px;
	position: relative;
}

#u2583
{
	z-index: 256;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 83px;
}

#u2584
{
	z-index: 257;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 509px;
}

#u2418
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 167px;
}

#u2419-4
{
	z-index: 259;
	width: 20px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #888888;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u2416
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 167px;
	left: 970px;
}

#u2418:hover,#u2416:hover
{
	border-color: #999999;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2417-4
{
	z-index: 264;
	width: 20px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #888888;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u76-6
{
	z-index: 5;
	width: 174px;
	min-height: 39px;
	top: 24px;
	left: 50%;
	margin-left: -439px;
}

#menuu80
{
	z-index: 15;
	width: 235px;
	top: 49px;
	left: 50%;
	margin-left: 265px;
}

#u98
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
}

#u101
{
	width: 57px;
	padding-bottom: 3px;
}

#u101:hover
{
	margin: 0px;
}

#u101:active
{
	margin: 0px;
}

#u1068
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 59px;
}

#u1071
{
	width: 57px;
	padding-bottom: 3px;
}

#u101.MuseMenuActive,#u1071:hover
{
	margin: 0px;
}

#u1071:active
{
	margin: 0px;
}

#u104-4,#u1073-4
{
	width: 57px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u142
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 118px;
}

#u145
{
	width: 57px;
	padding-bottom: 3px;
}

#u1071.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u146-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u148
{
	z-index: 34;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 3px;
	left: 43px;
}

#u145:hover #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u148
{
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 120px;
	top: 20px;
}

#u156
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156.MuseMenuActive,#u187:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1019
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u187.MuseMenuActive,#u1019:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1682
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1019.MuseMenuActive,#u1682:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1982
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1682.MuseMenuActive,#u1982:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1995
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1982.MuseMenuActive,#u1995:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2012
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1995.MuseMenuActive,#u2012:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2025
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2012.MuseMenuActive,#u2025:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2042
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2025.MuseMenuActive,#u2042:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2057
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2042.MuseMenuActive,#u2057:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u144,#u155,#u186,#u1018,#u1681,#u1979,#u1994,#u2009,#u2024,#u2039,#u2054,#u3336
{
	width: 120px;
}

#u3337
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2057.MuseMenuActive,#u3337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3337.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u158-4,#u189-4,#u1022-4,#u1683-4,#u1985-4,#u1997-4,#u2015-4,#u2028-4,#u2045-4,#u2059-4,#u3340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u129
{
	width: 58px;
	min-height: 20px;
	margin-right: -10000px;
	left: 177px;
}

#u132
{
	width: 58px;
	padding-bottom: 3px;
}

#u145.MuseMenuActive,#u132:hover
{
	margin: 0px;
}

#u132:active
{
	margin: 0px;
}

#u132.MuseMenuActive
{
	margin: 0px;
}

#u133-4
{
	width: 58px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u78-4
{
	z-index: 11;
	width: 174px;
	min-height: 20px;
	top: 24px;
	left: 50%;
	margin-left: 291px;
}

body
{
	padding-top: 10px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

