.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 438px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u79
{
	z-index: 2;
	width: 1000px;
	height: 62px;
	top: 12px;
	left: 50%;
	margin-left: -500px;
}

#u69
{
	z-index: 3;
	width: 61px;
	top: 13px;
	left: 50%;
	margin-left: -500px;
}

#pamphletu2585
{
	z-index: 109;
	width: 0.01px;
	height: 547px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u2586
{
	z-index: 110;
	width: 880px;
	position: relative;
	margin-right: -10000px;
	margin-top: 527px;
	left: 10px;
}

#u2589
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: -10px;
}

#u2589:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2589:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2753-4
{
	z-index: 112;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2589:hover #u2753-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2589:active #u2753-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2589:hover #u2753-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2589:active #u2753-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2621
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 60px;
}

#u2621:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2589.PamphletThumbSelected,#u2621:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2754-4
{
	z-index: 117;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2589.PamphletThumbSelected #u2753-4,#u2621:hover #u2754-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2621:active #u2754-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2621:hover #u2754-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2589.PamphletThumbSelected #u2753-4 p,#u2621:active #u2754-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2638
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 130px;
}

#u2638:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2621.PamphletThumbSelected,#u2638:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2755-4
{
	z-index: 122;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2621.PamphletThumbSelected #u2754-4,#u2638:hover #u2755-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2638:active #u2755-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2638:hover #u2755-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2621.PamphletThumbSelected #u2754-4 p,#u2638:active #u2755-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2645
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 200px;
}

#u2645:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2638.PamphletThumbSelected,#u2645:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2756-4
{
	z-index: 127;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2638.PamphletThumbSelected #u2755-4,#u2645:hover #u2756-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2645:active #u2756-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2645:hover #u2756-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2638.PamphletThumbSelected #u2755-4 p,#u2645:active #u2756-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2710
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 270px;
}

#u2710:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2645.PamphletThumbSelected,#u2710:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2757-4
{
	z-index: 132;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2645.PamphletThumbSelected #u2756-4,#u2710:hover #u2757-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2710:active #u2757-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2710:hover #u2757-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2645.PamphletThumbSelected #u2756-4 p,#u2710:active #u2757-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2723
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 340px;
}

#u2723:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2710.PamphletThumbSelected,#u2723:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2758-4
{
	z-index: 137;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2710.PamphletThumbSelected #u2757-4,#u2723:hover #u2758-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2723:active #u2758-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2723:hover #u2758-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2710.PamphletThumbSelected #u2757-4 p,#u2723:active #u2758-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2733
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 410px;
}

#u2733:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2723.PamphletThumbSelected,#u2733:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2759-4
{
	z-index: 142;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2723.PamphletThumbSelected #u2758-4,#u2733:hover #u2759-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2733:active #u2759-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2733:hover #u2759-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2723.PamphletThumbSelected #u2758-4 p,#u2733:active #u2759-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2741
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 480px;
}

#u2741:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2733.PamphletThumbSelected,#u2741:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2760-4
{
	z-index: 147;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2733.PamphletThumbSelected #u2759-4,#u2741:hover #u2760-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2741:active #u2760-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2741:hover #u2760-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2733.PamphletThumbSelected #u2759-4 p,#u2741:active #u2760-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2747
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 550px;
}

#u2747:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2741.PamphletThumbSelected,#u2747:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2761-4
{
	z-index: 152;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2741.PamphletThumbSelected #u2760-4,#u2747:hover #u2761-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2747:active #u2761-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2747:hover #u2761-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2741.PamphletThumbSelected #u2760-4 p,#u2747:active #u2761-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2762
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 620px;
}

#u2762:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2747.PamphletThumbSelected,#u2762:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2777-4
{
	z-index: 157;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2747.PamphletThumbSelected #u2761-4,#u2762:hover #u2777-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2762:active #u2777-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2762:hover #u2777-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2747.PamphletThumbSelected #u2761-4 p,#u2762:active #u2777-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2778
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 690px;
}

#u2778:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2762.PamphletThumbSelected,#u2778:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2791-4
{
	z-index: 162;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2762.PamphletThumbSelected #u2777-4,#u2778:hover #u2791-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2778:active #u2791-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2778:hover #u2791-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2762.PamphletThumbSelected #u2777-4 p,#u2778:active #u2791-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2798
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 12px;
	top: -13px;
	left: 760px;
}

#u2798:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2778.PamphletThumbSelected,#u2798:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2818-4
{
	z-index: 167;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2778.PamphletThumbSelected #u2791-4,#u2798:hover #u2818-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2798:active #u2818-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2798:hover #u2818-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2778.PamphletThumbSelected #u2791-4 p,#u2798:active #u2818-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2822
{
	position: absolute;
	width: 59px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #29ABE2;
	padding-bottom: 20px;
	top: -13px;
	left: 830px;
}

#u2822:hover
{
	border-color: #999999;
	background-color: #29ABE2;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2798.PamphletThumbSelected,#u2822:active
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2822.PamphletThumbSelected
{
	border-color: #999999;
	background-color: #0071BC;
	width: 59px;
	min-height: 0px;
	margin: 0px;
}

#u2830-4
{
	z-index: 172;
	width: 40px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u2798.PamphletThumbSelected #u2818-4,#u2822:hover #u2830-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2822:active #u2830-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2822.PamphletThumbSelected #u2830-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 12px -10000px 0px 0px;
}

#u2822:hover #u2830-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2798.PamphletThumbSelected #u2818-4 p,#u2822:active #u2830-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2822.PamphletThumbSelected #u2830-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2601
{
	position: absolute;
	width: 1001px;
}

#u2601popup
{
	z-index: 176;
}

#u2602
{
	z-index: 177;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #978668;
	margin-right: -10000px;
	position: relative;
}

#u2616
{
	z-index: 178;
	width: 1000px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u2610-4
{
	z-index: 180;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: -1px;
}

#u2635-14
{
	z-index: 184;
	width: 396px;
	min-height: 206px;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 254px;
}

#u2622
{
	z-index: 198;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2636-6
{
	z-index: 199;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: -1px;
}

#u2637-27
{
	z-index: 205;
	width: 510px;
	min-height: 206px;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 254px;
}

#u2639
{
	z-index: 232;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2642-6
{
	z-index: 233;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: -1px;
}

#pu2643-35
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 254px;
}

#u2643-35
{
	z-index: 239;
	width: 682px;
	min-height: 417px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2644-4
{
	z-index: 274;
	width: 528px;
	color: #FFFF00;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u2646
{
	z-index: 278;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2650-4
{
	z-index: 279;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: -1px;
}

#u2702
{
	z-index: 283;
	width: 734px;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 254px;
}

#u2708-11
{
	z-index: 285;
	width: 714px;
	min-height: 206px;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 254px;
}

#u2709-19
{
	z-index: 296;
	width: 255px;
	font-size: 18px;
	line-height: 22px;
	color: #FCEE21;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 6px;
}

#u2711
{
	z-index: 315;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#pu2718-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: -1px;
}

#u2718-4
{
	z-index: 316;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2805-11
{
	z-index: 356;
	width: 203px;
	min-height: 123px;
	font-size: 18px;
	line-height: 22px;
	color: #D6E972;
	margin-left: 23px;
	margin-top: 184px;
	position: relative;
}

#pu2719-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 272px;
}

#u2719-6
{
	z-index: 320;
	width: 200px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
}

#u2720-6
{
	z-index: 326;
	width: 200px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin-top: 118px;
	position: relative;
}

#pu2721-16
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 518px;
}

#u2721-16
{
	z-index: 332;
	width: 200px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
}

#u2722-8
{
	z-index: 348;
	width: 200px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin-top: 30px;
	position: relative;
}

#u2724
{
	z-index: 367;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#pu2730-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: -1px;
}

#u2730-4
{
	z-index: 368;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2739-15
{
	z-index: 410;
	width: 200px;
	color: #FFFFFF;
	margin-left: 17px;
	margin-top: 211px;
	position: relative;
}

#pu2731-22
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 254px;
}

#u2731-22
{
	z-index: 372;
	width: 637px;
	min-height: 255px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFF00;
	position: relative;
}

#u2732-16
{
	z-index: 394;
	width: 693px;
	font-size: 18px;
	line-height: 22px;
	margin-top: 16px;
	position: relative;
}

#u2732-2,#u2732-3,#u2732-6,#u2732-9,#u2732-12
{
	color: #FFFFFF;
}

#u2731-4,#u2731-10,#u2731-16,#u2732-4,#u2732-7,#u2732-10,#u2732-14
{
	color: #00FFFF;
}

#u2734
{
	z-index: 425;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2738-4
{
	z-index: 426;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: -1px;
}

#u2740-19
{
	z-index: 430;
	width: 685px;
	min-height: 350px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFF00;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 254px;
}

#u2731-2,#u2740-2
{
	font-weight: bold;
}

#u2742
{
	z-index: 449;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2745-4
{
	z-index: 450;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: -1px;
}

#u2746-28
{
	z-index: 454;
	width: 675px;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 254px;
}

#u2746-2,#u2746-7
{
	color: #FF0000;
}

#u2748
{
	z-index: 482;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2751-4
{
	z-index: 483;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: -1px;
}

#u2752-8
{
	z-index: 487;
	width: 200px;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 254px;
}

#u2764
{
	z-index: 495;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2767-6
{
	z-index: 496;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: -1px;
}

#ppu2768-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 267px;
}

#pu2768-4
{
	width: 0.01px;
	position: relative;
}

#u2768-4
{
	z-index: 502;
	width: 59px;
	min-height: 68px;
	background-color: #7DAABD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
}

#u2769-4
{
	z-index: 506;
	width: 59px;
	min-height: 68px;
	background-color: #7DAABD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u2770-4
{
	z-index: 510;
	width: 59px;
	min-height: 68px;
	background-color: #7DAABD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	left: 203px;
}

#pu2774-14
{
	width: 0.01px;
	margin-top: 60px;
	position: relative;
}

#u2774-14
{
	z-index: 526;
	width: 282px;
	min-height: 129px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2775-14
{
	z-index: 540;
	width: 317px;
	min-height: 132px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
}

#pu2771-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 593px;
}

#u2771-4
{
	z-index: 514;
	width: 149px;
	min-height: 35px;
	background-color: #7DAABD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	position: relative;
}

#u2772-4
{
	z-index: 518;
	width: 148px;
	min-height: 35px;
	background-color: #7DAABD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u2773-4
{
	z-index: 522;
	width: 148px;
	min-height: 35px;
	background-color: #7DAABD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	margin-left: 1px;
	margin-top: 4px;
	position: relative;
}

#u2776-14
{
	z-index: 554;
	width: 357px;
	min-height: 206px;
	color: #FFFFFF;
	margin-top: 55px;
	position: relative;
}

#u2643-4,#u2643-6,#u2643-8,#u2643-13,#u2643-15,#u2643-17,#u2643-22,#u2643-24,#u2643-26,#u2643-31,#u2643-33,#u2774-2,#u2774-4,#u2774-6,#u2774-8,#u2774-10,#u2774-11,#u2775-2,#u2775-4,#u2775-6,#u2775-8,#u2775-10,#u2775-11,#u2776-2,#u2776-4,#u2776-6,#u2776-8,#u2776-10,#u2776-11
{
	font-size: 18px;
	line-height: 22px;
}

#u2643-2,#u2643-9,#u2643-11,#u2643-18,#u2643-20,#u2643-27,#u2643-29,#u2774-12,#u2775-12,#u2776-12
{
	font-size: 24px;
	line-height: 29px;
}

#u2780
{
	z-index: 568;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#pu2797-4
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: -1px;
}

#u2797-4
{
	z-index: 571;
	width: 228px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2820
{
	z-index: 575;
	width: 180px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 119px;
	position: relative;
}

#u2813
{
	z-index: 569;
	width: 772px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 227px;
}

#u2800
{
	z-index: 576;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2800_position_content
{
	margin-top: 37px;
	margin-bottom: 38px;
}

#pu2807-4
{
	width: 0.01px;
	left: -1px;
	position: relative;
}

#u2807-4
{
	z-index: 579;
	width: 235px;
	min-height: 60px;
	background-color: #29ABE2;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
	color: #FFFFFF;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2819-4
{
	z-index: 583;
	width: 293px;
	min-height: 38px;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 373px;
}

#u2808
{
	z-index: 577;
	width: 856px;
	margin-left: 81px;
	margin-top: 18px;
	position: relative;
}

#u2824
{
	z-index: 587;
	width: 999px;
	height: 514px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #0071BC;
	margin-right: -10000px;
	position: relative;
}

#u2824_position_content
{
	margin-top: 49px;
	margin-bottom: 54px;
}

#pu2831
{
	width: 0.01px;
	margin-left: 159px;
	position: relative;
}

#u2831
{
	z-index: 588;
	width: 320px;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2833
{
	z-index: 589;
	width: 320px;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#pu2835
{
	width: 0.01px;
	left: -1px;
	margin-top: 43px;
	position: relative;
}

#u2835
{
	z-index: 590;
	width: 320px;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2837
{
	z-index: 591;
	width: 320px;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 340px;
}

#u2839
{
	z-index: 592;
	width: 320px;
	min-height: 184px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 680px;
}

#u2590
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 153px;
}

#u2591-4
{
	z-index: 594;
	width: 20px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #888888;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

#u2599
{
	position: absolute;
	width: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	top: 153px;
	left: 970px;
}

#u2590:hover,#u2599:hover
{
	border-color: #999999;
	width: 29px;
	min-height: 0px;
	margin: 0px;
}

#u2600-4
{
	z-index: 599;
	width: 20px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #888888;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u76-6
{
	z-index: 5;
	width: 174px;
	min-height: 39px;
	top: 24px;
	left: 50%;
	margin-left: -439px;
}

#menuu80
{
	z-index: 15;
	width: 235px;
	top: 49px;
	left: 50%;
	margin-left: 265px;
}

#u98
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
}

#u101
{
	width: 57px;
	padding-bottom: 3px;
}

#u101:hover
{
	margin: 0px;
}

#u101:active
{
	margin: 0px;
}

#u1068
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 59px;
}

#u1071
{
	width: 57px;
	padding-bottom: 3px;
}

#u101.MuseMenuActive,#u1071:hover
{
	margin: 0px;
}

#u1071:active
{
	margin: 0px;
}

#u104-4,#u1073-4
{
	width: 57px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u142
{
	width: 57px;
	min-height: 20px;
	margin-right: -10000px;
	left: 118px;
}

#u145
{
	width: 57px;
	padding-bottom: 3px;
}

#u1071.MuseMenuActive,#u145:hover
{
	margin: 0px;
}

#u145:active
{
	margin: 0px;
}

#u146-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u148
{
	z-index: 34;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 3px;
	left: 43px;
}

#u145:hover #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148
{
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u148
{
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 120px;
	top: 20px;
}

#u156
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u156.MuseMenuActive,#u187:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1019
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u187.MuseMenuActive,#u1019:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1682
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1019.MuseMenuActive,#u1682:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1982
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1682.MuseMenuActive,#u1982:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1995
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1982.MuseMenuActive,#u1995:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2012
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1995.MuseMenuActive,#u2012:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2025
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2012.MuseMenuActive,#u2025:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2042
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2025.MuseMenuActive,#u2042:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2057
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2042.MuseMenuActive,#u2057:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u144,#u155,#u186,#u1018,#u1681,#u1979,#u1994,#u2009,#u2024,#u2039,#u2054,#u3336
{
	width: 120px;
}

#u3337
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u2057.MuseMenuActive,#u3337:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3337.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u158-4,#u189-4,#u1022-4,#u1683-4,#u1985-4,#u1997-4,#u2015-4,#u2028-4,#u2045-4,#u2059-4,#u3340-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u129
{
	width: 58px;
	min-height: 20px;
	margin-right: -10000px;
	left: 177px;
}

#u132
{
	width: 58px;
	padding-bottom: 3px;
}

#u145.MuseMenuActive,#u132:hover
{
	margin: 0px;
}

#u132:active
{
	margin: 0px;
}

#u132.MuseMenuActive
{
	margin: 0px;
}

#u133-4
{
	width: 58px;
	min-height: 17px;
	margin-right: -10000px;
	top: 1px;
}

#u78-4
{
	z-index: 11;
	width: 174px;
	min-height: 20px;
	top: 24px;
	left: 50%;
	margin-left: 291px;
}

body
{
	padding-top: 10px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

